body {
    background-color: #D8D4E5;
}

header {
    background-image: url('../images/fondo.png');
    background-repeat: repeat;
}

footer {
    background-image: url('../images/patron.jpeg');
    background-repeat: repeat;
}

.navbar-brand img {
    max-height: 100px;
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 1.2rem;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.carousel-inner img {
    max-height: 400px;
    object-fit: cover;
}

/* Mantener el footer en la parte inferior */
footer {
    background-image: url('../images/patron.jpeg');
    background-repeat: repeat;
    text-align: center;
    padding: 1rem 0;
}
.btn i {
    font-size: 2.5rem;
}

.icon-color i {
    color: #19243A; /* Color azul oscuro por defecto */
}

.icon-color:hover .fa-whatsapp {
    color: #25D366; /* Color original de WhatsApp */
}

.icon-color:hover .fa-envelope {
    color: #007bff; /* Color original de Email */
}

.icon-color:hover .fa-instagram {
    color: #C13584; /* Color original de Instagram */
}

.icon-color:hover .fa-facebook {
    color: #2e3abf; /* Color original de Instagram */
}

.icon-color:hover .fa-info-circle {
    color: #343a40; /* Color original de Info */
}

/* Estilo del botón flotante de WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: white;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    font-size: 25px;
}
.btn{
    text-decoration: none;
    color: #F8F9FA;

}
.btn:hover{
    text-decoration: none;
    color: #F8F9FA;
}
.whatsapp-float .my-float {
    margin-top: 2px;
}

/* Estilos personalizados para las cards */
.card {
    border: none;
    border-radius: 20px;
    background-color: #1B2337;
}

.card .card-body {
    background-color: #F8F9FA;
    border-radius: 10px;
}

.card .card-title {
    color: #F8F9FA;
    font-weight: bold;
    border-radius: 20px;
    background-color: #1B2337;
}
.card-header:hover{
    background-color: #36405a;
}
.card ul {
    padding-left: 0;
    list-style-type: none;
}
